In [1]:
#importing packages
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [2]:
data_train=pd.DataFrame(pd.read_excel("Train_dataset.xlsx"))
x_test =pd.DataFrame(pd.read_excel("Test_dataset.xlsx"))

In [3]:
data_train.head()
#x_test.columns
#x_test.head()
#print(x_train.columns)

,City,State,Type,Population [2011],Popuation [2001],Sex Ratio,Median Age,Avg Temp,SWM,Toilets Avl,Water Purity,H Index,Female Population,# of hospitals,Foreign Visitors,Covid Cases
0,Mumbai,Maharashtra,M.C,12442373.0,11978450.0,878.0,23.0,32.0,MEDIUM,219.0,150.0,0.700440,10924403.0,159.0,4408916.0,163115
1,Delhi,Delhi,M.C,11007835.0,9879172.0,858.0,27.0,30.0,MEDIUM,215.0,196.0,0.920018,9444722.0,148.0,2379169.0,80188
2,Bangalore,Karnataka,MPUA,8436675.0,4301326.0,936.0,28.0,37.0,HIGH,212.0,102.0,0.097085,7896728.0,123.0,636502.0,141000
3,Hyderabad,Telangana,MPUA,6809970.0,3637483.0,930.0,23.0,31.0,MEDIUM,217.0,118.0,0.827744,6333272.0,110.0,126078.0,55123
4,Ahmedabad,Gujarat,MPUA,5570585.0,3520085.0,852.0,29.0,25.0,LOW,227.0,109.0,0.847941,4746138.0,73.0,284973.0,33204

In [4]:
x_train=data_train.drop(["Covid Cases","City","State","Type"],axis=1)
cities =x_test['City']
x_test=x_test.drop(["City","State","Type"],axis=1)
y_train=data_train["Covid Cases"]

In [5]:
#data_train.isnan().sum()
#x.columns
x_train = x_train.fillna(0)
x_test = x_test.fillna(0)

In [6]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [7]:
#SCALING POPULATION 2011
scaler_population2011 = scaler.fit(np.array(x_train['Population [2011]']).reshape(-1,1))
x_train['Population [2011]'] = scaler_population2011.transform(np.array(x_train['Population [2011]']).reshape(-1,1))
x_test['Population [2011]'] = scaler_population2011.transform(np.array(x_test['Population [2011]']).reshape(-1,1))

#SCALING POPULATION 2001
scaler_population2001 = scaler.fit(np.array(x_train['Popuation [2001]']).reshape(-1,1))
x_train['Popuation [2001]'] = scaler_population2011.transform(np.array(x_train['Popuation [2001]']).reshape(-1,1))
x_test['Popuation [2001]'] = scaler_population2011.transform(np.array(x_test['Popuation [2001]']).reshape(-1,1))

#SCALING FEMALE POPULATION
scaler_femal_popul = scaler.fit(np.array(x_train['Female Population']).reshape(-1,1))
x_train['Female Population'] = scaler_femal_popul.transform(np.array(x_train['Female Population']).reshape(-1,1))
x_test['Female Population'] = scaler_femal_popul.transform(np.array(x_test['Female Population']).reshape(-1,1))

#SCALING FOREIGN VISITORS
scaler_foreign_visit = scaler.fit(np.array(x_train['Foreign Visitors']).reshape(-1,1))
x_train['Foreign Visitors'] = scaler_foreign_visit.transform(np.array(x_train['Foreign Visitors']).reshape(-1,1))
x_test['Foreign Visitors']  = scaler_foreign_visit.transform(np.array(x_test['Foreign Visitors']).reshape(-1,1))

In [8]:
SWM_dict = {"LOW":0,"MEDIUM":1,"HIGH":2}
x_train['SWM'].replace(SWM_dict,inplace=True)
x_test['SWM'].replace(SWM_dict,inplace=True)
#x['SWM'].head()

In [9]:
logmodel = LogisticRegression()
logmodel.fit(x_train,y_train)

C:\Users\Inspiron\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Inspiron\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [30]:
predictions = np.array(logmodel.predict(x_test)).reshape(1,len(cities))
#predictions[0:10]

array([[  2285,   2052,   2506,   2052,   2490,   2220,   2523,   2490,
          2265,   2220,   2220,   2029,   2012,   2220,   2029,   2523,
          2265,   2208,   2001,   2506,   2265,   2069,   2445,   2490,
          2069,   2490,   2628,   2220,   2250,   2490,   2460,   2490,
          2204,   2208,   2490,   2490,   2490,   2188,   2208,   2081,
          2490,   2220,   2523,   2081,  10280,   2208,   2052,   2220,
          2052,   2523,   2487,   2584,   2523,   2490,   2490,   2208,
          2390,   2205,   2265,   2490,   2490,   2490,   2208,   2490,
          2487,   2490,   2554,   2184,   2016,   2208,   2895,   2523,
          1043,   2487,   2089,   2250,   2490,   2220,   2204,   2265,
          2069,   2490,   2430,   2220,   2103,   2490,   2089,   2220,
          2430,   2523,   2220,   2523,   2490,   2430,   2523,   2628,
          2490,   2628,   2490,   2220,   2490,   2523,   2481,   2490,
          2584,   2390,   2490,   2208,   2490,   2490,   2372,   2490,
          2445,   2208,   2208,   2390,   2523,   2220,   2490,   2561,
          2220,   2523,   8263,   2220,   2490,   2490,   2390,   2213,
          2268,   2490,   9361,   2895,   2584,   3315,  11537,   2506,
          2465,   2220,   2554,   2506,   2052,   2581,   2523,   2490,
          2506,   2554,   2027,   2052,   2213,   2490,   2490,   2523,
          2390,   2490,   2213,   2481,   2068,   2490,   2490,   2359,
          2285,   2285,   2910,   2490,   2523,   2490,   2490,   2490,
          2523,   2551,   2213,   2103,   2523,   2523,   2523,   2523,
          2490,   2353,   2490,   2523,   2467,   2069,   2213,   2001,
          2523,   2220,   2069,   2523,   2208,   2203,   2686, 145606,
          2686,   2523,   2490,   2478,   2490,   2208,   2490,   2523,
          2523,   2490,   2506,   2213,   2220,   2523,   2490,   2490,
          2089,   2430,   2285,   2081,   2628,   2029,   3151,   2523,
          2121,   2490,   2523,   2490,   2506,   2490,   2220,   2460,
          2554,   2220,   2901,   2796,   2490,   2490,   2523,   2265,
          2240,   2490,   2490,   2265,   2584,   2390,   2490,   9441,
          1043,   2220,   2490,   2390,   8263,   2208,   2029,   2089,
          2478,   2490,   2523,   2220,   2490,   2268,   2390,   2359,
          2490,   2265,   2091,   2490,   2490,   2220,   2390,   2220,
          2506,   2490,   2490,   2390,   2091,   2390,   2490,   2430,
          2490,   2390,   2089,   2490,   2523,   2490,   2320,   2584,
          2220,   2420,   2523,   2445,   2490,   2285,   2220,   2523,
          2490,   2390,   2490,   2208,   2490,   2089,   2523,   2490,
          2490,   2523,   2478,   2490,   2460,   2739,   2515,   2220,
          2490,   2285,   2029,   2490,   2490,   2506,   2220,   2523,
          2490,   2220,   2213,   2490,   2213,   2490,   2213,   2091,
          2220,   2213,   2390,   2216,   2089,   2490,   2268,   2208,
          2490,   2490,   2523,   2089,   2213,   2208,   2430,   2910,
          2910,   2910,   2910,   2506,   2001,   2213,   2523,   1946,
          2523,   2581,   2265,   2523,   2460,   2581,   2490,   2490,
          2208,   2523,   2506,   2490,   2220,   2490,   2506,  10557,
          2081,   2490,   2268,   2523,   2281,   2430,   2886,   2430,
          2265,   2523,   2490,   2490,   2490,   2240,   2523,   2538,
          2208,   2281,   2490,   2052,   2490,   2490,   2247,   2490,
          2220,   2481,   2220,   2490,   2523,   2596,   2523,   2490,
          2265,   2213,   2220,   2220,   2523,   2230,   2204,   2204,
          2739,   2250,   2352,   2250,   2352,   2554,   2523,   2285,
          2523,   2523,   2523,   2431,   2052,   2213,   2390,   2045,
          3151,   2265,   2208,   2490,   2490,  10280,   2490,   2460,
          1531,   2523,   2523,   2213,   2220,   2490,   2523,   2523,
          2265,   2538,   2523,   2538,   2523,   2052,   2490,   2523,
          2103,   2523,   2029,   2213,   2220,   2739,   2538,   2490,
          2490,   2467,   2490,   2052,   2352,   2430,   2352,   2523,
          2523,   2582,   2052,   2208,   3092,   2352,   3092,   2352,
          2739,   2352,   2910,   2352,   2352,   2352,   2581,   2910,
          2910,   2625,   2910,   2119,   2910,   2910,   2910,   2910,
          2119,   2352,   2352,   2352,   2739,   2581,   2910,   2352,
          2352,   2352,   2352,   2581,   2352,   2352,   2352,   3092,
          2352,   2352,   2352,   2352,   2739]], dtype=int64)

In [33]:
#predictions  =predictions[0]
data_df = pd.DataFrame({"City":cities,"Covid Cases":predictions[0]})
#predictions[0]

array([  2285,   2052,   2506,   2052,   2490,   2220,   2523,   2490,
         2265,   2220,   2220,   2029,   2012,   2220,   2029,   2523,
         2265,   2208,   2001,   2506,   2265,   2069,   2445,   2490,
         2069,   2490,   2628,   2220,   2250,   2490,   2460,   2490,
         2204,   2208,   2490,   2490,   2490,   2188,   2208,   2081,
         2490,   2220,   2523,   2081,  10280,   2208,   2052,   2220,
         2052,   2523,   2487,   2584,   2523,   2490,   2490,   2208,
         2390,   2205,   2265,   2490,   2490,   2490,   2208,   2490,
         2487,   2490,   2554,   2184,   2016,   2208,   2895,   2523,
         1043,   2487,   2089,   2250,   2490,   2220,   2204,   2265,
         2069,   2490,   2430,   2220,   2103,   2490,   2089,   2220,
         2430,   2523,   2220,   2523,   2490,   2430,   2523,   2628,
         2490,   2628,   2490,   2220,   2490,   2523,   2481,   2490,
         2584,   2390,   2490,   2208,   2490,   2490,   2372,   2490,
         2445,   2208,   2208,   2390,   2523,   2220,   2490,   2561,
         2220,   2523,   8263,   2220,   2490,   2490,   2390,   2213,
         2268,   2490,   9361,   2895,   2584,   3315,  11537,   2506,
         2465,   2220,   2554,   2506,   2052,   2581,   2523,   2490,
         2506,   2554,   2027,   2052,   2213,   2490,   2490,   2523,
         2390,   2490,   2213,   2481,   2068,   2490,   2490,   2359,
         2285,   2285,   2910,   2490,   2523,   2490,   2490,   2490,
         2523,   2551,   2213,   2103,   2523,   2523,   2523,   2523,
         2490,   2353,   2490,   2523,   2467,   2069,   2213,   2001,
         2523,   2220,   2069,   2523,   2208,   2203,   2686, 145606,
         2686,   2523,   2490,   2478,   2490,   2208,   2490,   2523,
         2523,   2490,   2506,   2213,   2220,   2523,   2490,   2490,
         2089,   2430,   2285,   2081,   2628,   2029,   3151,   2523,
         2121,   2490,   2523,   2490,   2506,   2490,   2220,   2460,
         2554,   2220,   2901,   2796,   2490,   2490,   2523,   2265,
         2240,   2490,   2490,   2265,   2584,   2390,   2490,   9441,
         1043,   2220,   2490,   2390,   8263,   2208,   2029,   2089,
         2478,   2490,   2523,   2220,   2490,   2268,   2390,   2359,
         2490,   2265,   2091,   2490,   2490,   2220,   2390,   2220,
         2506,   2490,   2490,   2390,   2091,   2390,   2490,   2430,
         2490,   2390,   2089,   2490,   2523,   2490,   2320,   2584,
         2220,   2420,   2523,   2445,   2490,   2285,   2220,   2523,
         2490,   2390,   2490,   2208,   2490,   2089,   2523,   2490,
         2490,   2523,   2478,   2490,   2460,   2739,   2515,   2220,
         2490,   2285,   2029,   2490,   2490,   2506,   2220,   2523,
         2490,   2220,   2213,   2490,   2213,   2490,   2213,   2091,
         2220,   2213,   2390,   2216,   2089,   2490,   2268,   2208,
         2490,   2490,   2523,   2089,   2213,   2208,   2430,   2910,
         2910,   2910,   2910,   2506,   2001,   2213,   2523,   1946,
         2523,   2581,   2265,   2523,   2460,   2581,   2490,   2490,
         2208,   2523,   2506,   2490,   2220,   2490,   2506,  10557,
         2081,   2490,   2268,   2523,   2281,   2430,   2886,   2430,
         2265,   2523,   2490,   2490,   2490,   2240,   2523,   2538,
         2208,   2281,   2490,   2052,   2490,   2490,   2247,   2490,
         2220,   2481,   2220,   2490,   2523,   2596,   2523,   2490,
         2265,   2213,   2220,   2220,   2523,   2230,   2204,   2204,
         2739,   2250,   2352,   2250,   2352,   2554,   2523,   2285,
         2523,   2523,   2523,   2431,   2052,   2213,   2390,   2045,
         3151,   2265,   2208,   2490,   2490,  10280,   2490,   2460,
         1531,   2523,   2523,   2213,   2220,   2490,   2523,   2523,
         2265,   2538,   2523,   2538,   2523,   2052,   2490,   2523,
         2103,   2523,   2029,   2213,   2220,   2739,   2538,   2490,
         2490,   2467,   2490,   2052,   2352,   2430,   2352,   2523,
         2523,   2582,   2052,   2208,   3092,   2352,   3092,   2352,
         2739,   2352,   2910,   2352,   2352,   2352,   2581,   2910,
         2910,   2625,   2910,   2119,   2910,   2910,   2910,   2910,
         2119,   2352,   2352,   2352,   2739,   2581,   2910,   2352,
         2352,   2352,   2352,   2581,   2352,   2352,   2352,   3092,
         2352,   2352,   2352,   2352,   2739], dtype=int64)

In [36]:
#print(data_df.head(10))

            City  Covid Cases
0       Tuensang         2285
1   Lakshmeshwar         2052
2           Zira         2506
3          Yawal         2052
4   Thana Bhawan         2490
5        Ramdurg         2220
6        Pulgaon         2523
7     Sadasivpet         2490
8        Nargund         2265
9  Neem-Ka-Thana         2220

In [37]:
#writing data to csv
data_df.to_csv("Flipr1.csv",index=False)