In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_train=pd.DataFrame(pd.read_excel("Train_dataset.xlsx"))
x_test =pd.DataFrame(pd.read_excel("Test_dataset.xlsx"))

In [3]:
data_train.head()
#x_test.head()

,City,State,Type,Population [2011],Popuation [2001],Sex Ratio,Median Age,Avg Temp,SWM,Toilets Avl,Water Purity,H Index,Female Population,# of hospitals,Foreign Visitors,Covid Cases
0,Mumbai,Maharashtra,M.C,12442373.0,11978450.0,878.0,23.0,32.0,MEDIUM,219.0,150.0,0.700440,10924403.0,159.0,4408916.0,163115
1,Delhi,Delhi,M.C,11007835.0,9879172.0,858.0,27.0,30.0,MEDIUM,215.0,196.0,0.920018,9444722.0,148.0,2379169.0,80188
2,Bangalore,Karnataka,MPUA,8436675.0,4301326.0,936.0,28.0,37.0,HIGH,212.0,102.0,0.097085,7896728.0,123.0,636502.0,141000
3,Hyderabad,Telangana,MPUA,6809970.0,3637483.0,930.0,23.0,31.0,MEDIUM,217.0,118.0,0.827744,6333272.0,110.0,126078.0,55123
4,Ahmedabad,Gujarat,MPUA,5570585.0,3520085.0,852.0,29.0,25.0,LOW,227.0,109.0,0.847941,4746138.0,73.0,284973.0,33204

In [4]:
x_train=data_train.drop(["Covid Cases"],axis=1)
y_train=data_train["Covid Cases"]

In [5]:
#data_train.isnan().sum()
x_train = x_train.fillna(0)
#x.columns

In [6]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [7]:
#SCALING POPULATION 2011
scaler_population2011 = scaler.fit(np.array(x_train['Population [2011]']).reshape(-1,1))
x_train['Population [2011]'] = scaler_population2011.transform(np.array(x_train['Population [2011]']).reshape(-1,1))
x_test['Population [2011]'] = scaler_population2011.transform(np.array(x_test['Population [2011]']).reshape(-1,1))

#SCALING POPULATION 2001
scaler_population2001 = scaler.fit(np.array(x_train['Popuation [2001]']).reshape(-1,1))
x_train['Popuation [2001]'] = scaler_population2011.transform(np.array(x_train['Popuation [2001]']).reshape(-1,1))
x_test['Popuation [2001]'] = scaler_population2011.transform(np.array(x_test['Popuation [2001]']).reshape(-1,1))

#SCALING FEMALE POPULATION
scaler_femal_popul = scaler.fit(np.array(x_train['Female Population']).reshape(-1,1))
x_train['Female Population'] = scaler_femal_popul.transform(np.array(x_train['Female Population']).reshape(-1,1))
x_test['Female Population'] = scaler_femal_popul.transform(np.array(x_test['Female Population']).reshape(-1,1))

#SCALING FOREIGN VISITORS
scaler_foreign_visit = scaler.fit(np.array(x_train['Foreign Visitors']).reshape(-1,1))
x_train['Foreign Visitors'] = scaler_foreign_visit.transform(np.array(x_train['Foreign Visitors']).reshape(-1,1))
x_test['Foreign Visitors']  = scaler_foreign_visit.transform(np.array(x_test['Foreign Visitors']).reshape(-1,1))

In [8]:
SWM_dict = {"LOW":0,"MEDIUM":1,"HIGH":2}
x_train['SWM'].replace(SWM_dict,inplace=True)
x_test['SWM'].replace(SWM_dict,inplace=True)
#x['SWM'].head()